@import 'src/variables';

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 8rem;
}

#logo {
	height: 3rem;
}

.container {
	width: 100%;
	padding: 1rem;
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: 0.2rem
}

.btn {
	margin-top: 1rem;
}

.error {
	margin-top: 1rem;
	text-align: center;
}

.link {
	text-decoration: none;
	color: currentColor;
	text-align: center;
	margin-top: 1rem;
	color: $primary;
}
