<h2>Create event</h2>

<av-map-picker (locationSelected)="onLocationSelected($event)" *ngIf="isLocationPopupOpen"></av-map-picker>

<form class="create-form" [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-form-field appearance="fill">
		<mat-label>Name</mat-label>
		<input type="text" matInput required formControlName="name" />
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Start date</mat-label>
		<input matInput [ngxMatDatetimePicker]="startPicker" required formControlName="start" [min]="today" />
		<mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
		<ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>End date</mat-label>
		<input matInput [ngxMatDatetimePicker]="endPicker" required formControlName="end" />
		<mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
		<ngx-mat-datetime-picker #endPicker></ngx-mat-datetime-picker>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Description</mat-label>
		<textarea matInput required formControlName="description"></textarea>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Price</mat-label>
		<input type="number" matInput min="0" formControlName="price" />
	</mat-form-field>

	<button mat-raised-button color="primary" (click)="isLocationPopupOpen = true">Choose location</button>
	<mat-error
		*ngIf="
			(form.controls.longitude.touched && form.controls.longitude.hasError('required')) ||
			(form.controls.latitude.touched && form.controls.latitude.hasError('required'))
		"
		>Please set a location</mat-error
	>
	<span style="text-align: center;" *ngIf="form.controls.latitude.value && form.controls.longitude.value">Location set</span>

	<button mat-raised-button type="submit" color="primary">Create event</button>
</form>
