<mat-error *ngIf="error">{{ error.message }}</mat-error>

<mat-spinner style="margin: 0 auto" diameter="40" *ngIf="isLoading"></mat-spinner>


<div class="event" *ngIf="event">
	<h2 class="title">
		<span>{{ event?.name }}</span>
		<button *ngIf="!isFavorite" mat-flat-button (click)="addToFavorites()"><mat-icon>star</mat-icon> Save</button>
		<button *ngIf="isFavorite" class="success-btn" mat-flat-button (click)="removeFromFavorites()"><mat-icon>check</mat-icon> Saved</button>
	</h2>
	<img *ngIf="event.s3BucketUrl" [src]="event.s3BucketUrl" alt="Event image" class="image">
	<table class="infos">
		<tr *ngIf="event.distance">
			<th>Distance</th>
			<td>{{ event.distance.toFixed(2) }} km</td>
		</tr>
		<tr>
			<th>Begin</th>
			<td>{{ event.dates.begin | date: 'HH:mm dd.MM.yyyy' }}</td>
		</tr>
		<tr>
			<th>End</th>
			<td>{{ event.dates.end | date: 'HH:mm dd.MM.yyyy' }}</td>
		</tr>
		<tr>
			<th>Price</th>
			<td>{{ event.price && event.price > 0 ? (event.price | currency: 'EUR') : 'Free' }}</td>
		</tr>
	</table>
	<div class="description">
		<b>Description</b>
		<p [innerHTML]="event.description.replaceAll('\n', '<br>')"></p>
	</div>
</div>

<div class="map-wrapper">
	<div id="map"></div>
</div>
