<h2>Saved events</h2>

<mat-error *ngIf="error">{{ error.message }}</mat-error>
<mat-spinner style="margin: 0 auto" diameter="40" *ngIf="isLoading"></mat-spinner>

<p *ngIf="!isLoading && favorites?.length === 0">
	Looks empty here...<br />
	Find events on the <a routerLink="/">Discover</a> page!
</p>

<div class="favorites" *ngIf="!isLoading && favorites?.length > 0">
	<av-event *ngFor="let favorite of favorites" class="event" [event]="favorite" [routerLink]="'/events/' + favorite.id"></av-event>
</div>
