.description {
    margin-top: 1rem;
}

.image {
	width: 100%;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code-wrapper {
	padding: 1rem;
	display: flex;
	justify-content: center;
}
