.card {
	display: flex;
	flex-direction: row;
}

.card-content {
	flex-grow: 1;
}

.card-icon {
	align-self: center;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
