<!-- <div class="topbar-menu">
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>Sort by radius</button>
		<button mat-menu-item>Sort by popularity</button>
	</mat-menu>
</div> -->
<div class="map-overlay">
	<div id="map"></div>
	<div class="slider-overlay">
		<mat-slider min="5" [max]="maxRadius" step="5" thumbLabel [(ngModel)]="radius" (valueChange)="onRadiusChange($event)" [scrollLeft]="false"></mat-slider>
	</div>
	<div class="map-loader" *ngIf="isLoading">
		<mat-spinner style="margin: 0 auto;" diameter="40"></mat-spinner>
	</div>
</div>

<mat-spinner style="margin: 0 auto;" diameter="40" *ngIf="isLoading"></mat-spinner>
<mat-error *ngIf="error">{{ error.message }}</mat-error>
<div class="events" *ngIf="!isLoading">
	<p style="text-align: center;" *ngIf="events.length == 0">No events near you</p>
	<av-event class="event" *ngFor="let event of events" [event]="event" [isFavorite]="isFavorite(event)" [routerLink]="'events/' + event.id"></av-event>
</div>
