.topbar-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 5rem;
    padding: 0 0.5rem;
    color: #fff;
    display: flex;
    align-items: center;
}

#map {
	width: calc(100% + 2rem);
	height: 40vh;
	background: #ccc;
	margin: -1rem -1rem 1rem -1rem;
}

.events {
    .event {
        display: block;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}
