<div class="topbar-menu">
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>Sort by radius</button>
		<button mat-menu-item>Sort by popularity</button>
		<mat-divider></mat-divider>
		<button mat-menu-item>Set search radius</button>
	</mat-menu>
</div>

<button mat-raised-button color="primary" (click)="getLocation()" [disabled]="isLoading">Get Location</button>
<br />
<br />
<table>
	<tr>
		<th>Lat</th>
		<td>{{ location?.coords?.latitude }}</td>
	</tr>
	<tr>
		<th>Lon</th>
		<td>{{ location?.coords?.longitude }}</td>
	</tr>
</table>
