<header class="top-bar">
	<button mat-icon-button class="arrow-back" (click)="onGoBack()" *ngIf="canGoBack">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<h1 class="title">actevents</h1>
</header>

<main class="outlet">
	<router-outlet></router-outlet>
</main>


<nav class="navbar">
	<div class="navbar__items">
		<div class="navbar__item" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">
			<mat-icon>home</mat-icon>
            <span>Discover</span>
		</div>
		<div class="navbar__item" routerLinkActive="active" routerLink="saved">
			<mat-icon>star_rate</mat-icon>
            <span>Saved</span>
		</div>
		<div class="navbar__item" routerLinkActive="active" routerLink="settings">
			<mat-icon>settings</mat-icon>
            <span>Settings</span>
		</div>
	</div>
</nav>
