<mat-card matRipple class="list-item" routerLink="profile">
    <div class="list-item__title">
        <mat-icon>account_circle</mat-icon>
        My Profile
    </div>
	<mat-icon class="list-item__arrow">arrow_right</mat-icon>
</mat-card>
<mat-card matRipple class="list-item" routerLink="events">
    <div class="list-item__title">
        <mat-icon>event</mat-icon>
        My Events
    </div>
	<mat-icon class="list-item__arrow">arrow_right</mat-icon>
</mat-card>
<mat-card matRipple class="list-item" (click)="onLogout()">
    <div class="list-item__title">
        <mat-icon>logout</mat-icon>
        Logout
    </div>
</mat-card>
